.Ctn {
  justify-content: center;
  align-items: center;
  max-height: 100%;
  margin: 0;
  background-color: var(--background);
}

.top-right-button {
  display: flex;
  justify-content: flex-end; /* Adjusted to make it responsive */
}

.home-button {
  padding: 8px 1%; /* Adjusted padding to make it responsive */
  border: 1px solid #9a6639;
  border-radius: 4px;
  color: var(--button);
  width: auto; /* Adjusted width to be responsive */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  height: 8vh;
  width: 60%; /* Adjusted width to be responsive */
  border-radius: 25px;
  border: none;
  padding: 2vh 4vh;
  opacity: 0.7;
  margin-right: 7px;
  margin-top: 10px;
}

.search input::placeholder {
  color: #999;
  font-style: italic;
}

.search .E-btn {
  background-color: var(--button);
  color: white;
  padding: 20px;
  width: 15%; /* Adjusted width to be responsive */
  height: 4rem;
  border: none;
}

.search .search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 14px);
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 999;
}

.search .search-results li {
  padding: 10px;
  cursor: pointer;
}

.search .search-results li:hover {
  background-color: #f0f0f0;
}

.hospital-details {
  margin-top: 20px;
  width: 35%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hospital-details h2 {
  margin-bottom: 10px;
}

.hospital-details p {
  margin: 5px 0;
}

.hospital-details ul {
  list-style: none;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  height: 6vh; 
  width: 50%; 
  border-radius: 20px; 
  border: none;
  padding: 1vh 2vh; 
  opacity: 0.7;
  margin-right: 7px;
  margin-top: 10px;
}

.search .E-btn {
  background-color: var(--button);
  color: white;
  padding: 15px; 
  justify-content: center;
  border-radius: 20px;
  border: none;
  height: 6vh; 
  cursor: pointer;
}

